<!DOCTYPE html>
<html>
<head>
    <title>My Love Story ❤️</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="heart-rain"></div>

<div class="love-container">

    <h1>Our Love Moments 💕</h1>

    <div class="love-card">
        <img id="loveImage" src="/static/img_in.jpeg">
        <p id="loveText">Click the heart to feel my love ❤️</p>
        <button onclick="nextFeeling()">❤️ Feel My Love</button>
    </div>

</div>
<div id="finalPopup" class="popup">
    <div class="popup-box">
        <h2>💖 For You, Shifa 💖</h2>
        <p class="multi-love">
            "Mukammal Mohabbat ka irada karunga,
            Main Hath Pakad kar ye vada karunga,
            Milegi Mohabbat Agar Thodi si Tumse,
            Yakken Karo Main Tumse Zada Karunga."

        </p>
        <button onclick="closeFinalPopup()">Close ❤️</button>
    </div>
</div>

<script src="/static/script.js"></script>

</body>
</html>
