<!DOCTYPE html>
<html>
<head>
    <title>My Valentine ❤️</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="card">
    <h1>Will You Be My Valentine? 💖</h1>

    <div class="btns">
       <button class="yes" onclick="startLove()">Yes 💙</button>


        <button class="no" onclick="noClick()">No 💙</button>
        <div id="lovePopup" class="popup">
    <div class="popup-box">
        <h2>💖 My Love 💖</h2>
        <p>
            You can try to say NO, my love 😘
            But my heart already chose you forever 💍❤️
        </p>
        <button onclick="closePopup()">Close ❤️</button>
    </div>
</div>

    </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>
